@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-blue: #4361ee;
  --dark-blue: #3a0ca3;
  --light-blue: #4cc9f0;
  --red: #dd1e1e;
  --yellow: #f2e30e;
  --gold-yellow: #f8d700;
  --blueviolet: #763aed;
  --text-white: #f0f2fa;
}
body {
  background: linear-gradient(
    180deg,
    var(--dark-blue) 0%,
    var(--primary-blue) 50%,
    var(--light-blue) 100%
  );
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", Verdana, sans-serif;
}
.game {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.bets__container {
  display: flex;
  justify-content: center;
}

.gameControls__container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
}

.results__info {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: start;
}
.results__info-positions {
  text-align: right;
  color: var(--text-white);
}
